extends layout

block content
  h1 About
  p hello
  p this is your about page :)
  
  
  p iterate throug data with fetch
  p then save to local storage 
  p bind change event on drop down 
  p send fetch to api to get specific country data