extends layout

block content
  h1= title
  p Welcome to #{title}
  div#like_button_container
  div#root
    div#app
  p hello 
  div#container
  



  script.
    const title = 'mytitle'
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js")
  script(src="/javascripts/main.js")