doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet' type="text/css" href='/stylesheets/styles.css')
      link(rel="icon" href="/images/favicon.ico")
  body
    block content
