$font-stack:    Helvetica, sans-serif;
$padding: 5px;
$display : flex;
     body{
         font:$font-stack;
     } 
    .vert-list{
        display:fixed;
    }
    .row{
        margin-left: $padding;  
        
    }
    .container{
        flex-direction: row; 
        margin:0 auto;
        padding-bottom: $padding;
      }
    p{
        font: $font-stack;
    }  
    .myDropDown
    {
        height: 100px;
        overflow: auto;
    }
    .worldMap{
        float:right;
    }