{% extends "base.html" %}

{% block container %}

<div class="row">
    <div class="col-6">
<h1> countries</h1>
{% for item in countries %}
<li>{{item.name}}</li>
{% endfor %}
</div>


 <div class="col-4">
<h1>Add /Delete Country </h1>
 
    <div class="input text">
    Name: <input type="text" name="name" id="countryName" required>
    <br>
    {{countries.label}}
    </div>
<!-- just have a button no form  -->
  <button id="sub_button">Submit</button>
  <button id="del_button">Delete</button>
 <div>

</div>
</div>

 

{% endblock %}   