

{% extends "base.html" %}

{% block container %}
  <div class="row">
    <div class="col-6">
      <h6>Title</h6>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img-thumbnail" src="https://images.unsplash.com/photo-1502743780242-f10d2ce370f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80">
            </div>
      </div>
  </div>
</div>
<div class="container ml-auto p-2">Visualisation</div>

<button class="SpecButton">Click me change the background colour</button>

 
</div>
</div>
</div>

<div id="my_dataviz"></div>
<svg width="5000" height = "4000"></svg>

 {% endblock %}   
 
