

{% extends "base.html" %}

{% block container %}

  <div class="row">
    <div class="col-6">
      <h6>Title</h6>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img-thumbnail" src="https://images.unsplash.com/photo-1502743780242-f10d2ce370f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80">
            </div>
      </div>
  </div>
</div>
</div>

<div class="container ml-auto p-2">Visualisation</div>

<button class="SpecButton">Click me change the background colour</button>

<!--<button id="play-button">Play</button>-->
<input type="text" id="year">
<svg height="1000" width="1000"></svg>

 {% endblock %}   
 
