{% extends "base.html" %}

{% block container %}

<!-- <img class="img-thumbnail"
  src="https://images.unsplash.com/photo-1502743780242-f10d2ce370f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80"> -->

<h3 class=text-center>Child Mortality vs Children per Women eventually vs Income per person</h3>
<input id="slider" type="range" min="1800" max="2020" value="1800" step="1" />
<div class="ml-auto mr-auto w-75 text-center display-8"><label id="yearLabel">Year: 1800</label></div>
<button id="play">Play </button><br>
<svg class='ml-1' width='1200' height="900" id="mysvg"></svg><br>



{% endblock %}