{% extends "base.html" %}

{% block container %}

       <div class="row">
           <div class="col-md-4 col-sm-6">
               <div class="card">
                    <img class="card-img-top" src="https://d27yqot8savz5t.cloudfront.net/screengrabs/images/000/011/388/medium.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">The Nue Co</h5>

                      <p class="card-text">The Nue co has a nice simple minimalistic design. They maximize use of images with whitespace around text, seperating the images and information with noticable lines. Their navigation is a simple bar with serverals buttons and no more. I incorperated their use of lines to seperate my containers of text and my nav bar has only three buttons with the option of a drop down for more information to keep to a minimalistic feel </p>
                      <a href="https://www.thenueco.com/" class="btn btn-primary">Visit Site</a>
                    </div>
               </div>
           </div>
           
           <div class="col-md-4 col-sm-6">
                <div class="card">
                     <img class="card-img-top" src="https://onepagelove.imgix.net/2019/09/opl-master-20.jpg?fit=crop&fp-y=0&w=1280&min-w=1280&max-h=1280&auto=compress" alt="Card image cap">
                     <div class="card-body">
                       <h5 class="card-title">Genisis BlockChain</h5>
                       <p class="card-text">Genisis Block chain is the opposite of the two other sites I chose for inspiration where it uses blackspace instead of white, also has a small nave bar but a one page scroll through all elements of navigation. They have used a small amout of colour to break away from the monotone of just black and white and used this same colour palette in their visual animations. I didnt incorperate much from this or it is repeated and similar to the other sites i have chosen. I did want to implement one page scrolling and will give it a try on at home projects. I did use a small amount of colour for buttons.</p>
                       <a href="https://www.genesisblockchain.io/" class="btn btn-primary">Visit Site</a>
                     </div>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6">
                    <div class="card">
                         <img class="card-img-top" src="https://cdn.trendhunterstatic.com/thumbs/to-taste.jpeg" alt="Card image cap">
                         <div class="card-body">
                           <h5 class="card-title">totaste</h5>
                           <p class="card-text">Totaste much like the nue co and Genisis block combined makes use of whitespace and visualisations.Simplist navigation as well. The carousel visualisation of current recipes with links on the images is great for returning visitors to keep up to date. Much the same I imcorperated mostly use of whitespace and minimalistic approachs to navigation</p>
                           <a href="https://www.totaste.co/" class="btn btn-primary">Visit Site</a>
                         </div>
                    </div>
                </div>
       </div>
   </div>
   
  
   {% endblock %} 
