<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% include 'navbar.html' %}
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Site Name </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="inspiration.html">Inspiration</a>
            </li>
            
          </ul>
          
        </div>
      </nav> -->

  </head>
  <body>
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-4 col-sm-6">
               <div class="card">
                    <img class="card-img-top" src="https://d27yqot8savz5t.cloudfront.net/screengrabs/images/000/011/388/medium.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">The Nue Co</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="https://www.thenueco.com/" class="btn btn-primary">Visit Site</a>
                    </div>
               </div>
           </div>
           
           <div class="col-md-4 col-sm-6">
                <div class="card">
                     <img class="card-img-top" src="https://onepagelove.imgix.net/2019/09/opl-master-20.jpg?fit=crop&fp-y=0&w=1280&min-w=1280&max-h=1280&auto=compress" alt="Card image cap">
                     <div class="card-body">
                       <h5 class="card-title">Genisis BlockChain</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       <a href="https://www.genesisblockchain.io/" class="btn btn-primary">Visit Site</a>
                     </div>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6">
                    <div class="card">
                         <img class="card-img-top" src="https://cdn.trendhunterstatic.com/thumbs/to-taste.jpeg" alt="Card image cap">
                         <div class="card-body">
                           <h5 class="card-title">totaste</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="https://www.totaste.co/" class="btn btn-primary">Visit Site</a>
                         </div>
                    </div>
                </div>
       </div>
   </div>


    
  </body>
</html>